* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #009688 20%, #D8DBD7 20%);
    height: 100vh;
    width: 100%;
}


.bgcolorg{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
}

.bgcolora {
    background-color: #8EDAFC;
    width: 100%;
    display: flex;
    align-items: center; 
}
.custom-container {
    height: 95vh;
    margin: 0 auto;
    width: 85%;
}

.imgbox{
    padding: 15px;
}

.wheight{
    height: 6.5rem;
}

.userimgsize{
    height: 70px;
    width: 70px;
    margin-left: 10px;
    border-radius: 50%;
}

.userscontainer{
    height: 78%;
    width: 100%;
}

.overflowbar{
    overflow-y: scroll;
    overflow-x: hidden;
}

.customheight{
    height: 75vh;
}

.chatcontainer{
    height: 80vh;
    background-image: url(../img/mine.jpg)
}

.bgcolord{
    background-color: #F3EEEA;
}

.bleft{
    border-right: 2px solid rgba(128, 128, 128, 0.4);
    
}
span{
    border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
    padding: 20px;
}

.bgcolorgreen{
    background-color: #D5F9BA;
}

.fontbox > i{
    color: gray;
    margin: 0 10px;
}